:root {
  --mainColor: #665d8a;
  --secondaryColor: rgb(216, 133, 163);
}
body {
  font-family: Arial, sans-serif;
}

.custom-nav {
  background-color: var(--mainColor);
  padding: 10px;
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 80px auto;
  border: 3px solid var(--mainColor);
  border-radius: 8px;
  padding: 50px;
}

/* search city button */
.custom-btn {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.custom-btn:hover {
  background-color: white;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
}

.custom-search {
  background-color: white;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  margin-right: 2px;
}
.custom-search:hover {
  background-color: var(--secondaryColor);
  border: 1px solid var(--mainColor);
}

h1 {
  margin-bottom: 26px;
  margin-top: 26px;
  font-size: 28px;
  font-weight: 100px;
  line-height: 30px;
  padding-bottom: 6px;
}

li {
  list-style: none;
  color: #b1aebb;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
}

p {
  padding-top: 8px;
  opacity: 0.9;
  font-size: 16px;
}
a,
.temperature-min,
h1 {
  text-decoration: none;
  color: var(--secondaryColor);
}

a:hover {
  cursor: pointer;
  color: var(--secondaryColor);
  text-decoration: underline;
}

.weather-temperature {
  float: right;
}

.weather-temperature strong {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #b1aebb;
}
.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -16px;
}
.weather-temperature .active {
  cursor: pointer;
  color: var(--mainColor);
  text-decoration: none;
}
.weather-temperature .passive {
  color: var(--mainColor);
  text-decoration: none;
}
.weather-temperature .passive:hover,
.weather-temperature .active:hover {
  text-decoration: underline;
}

.humidity,
.wind,
.units,
.date,
.weather-forecast,
p {
  color: var(--mainColor);
}

.weather-forecast {
  margin-top: 50px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temperature {
  font-size: 15px;
}
